
body {
    display: flex;
    flex-direction: column;
    background-image: url(../image/download.jfif);
}

body > .header {
    display: flex;
    flex-direction: row;
    height:100px;
    padding: 1rem 10rem;
    background-color: steelblue;
    align-items: center;
    font-size: x-large;
    font-weight: 900;
    flex: 0 0 auto;
    border-radius: 25px;
    border: white 2px solid;
    box-shadow: 0 0 10px 5px black;
}

.header .logo img {
    height: 5rem;
    width: auto;
}

.header .link {
    display: flex;
    margin-left: auto;
    gap: 2rem;
}

.header .link a{
    color: black;
    text-decoration: none;
}


.welcome{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome .container {
    display: flex;
    border: 2px white solid;
    border-radius: 25px;
    align-items: center;
    gap: 5rem;
    padding: 3rem;
    margin: 5rem 5rem;
    box-shadow: 0 0 10px 5px black;
    background-color: rgb(70,130,180,0.5);
}

.welcome .text, 
.welcome .image {
    flex:1;
}

.welcome .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.welcome .text .header{
    font-size: 75px;
    font-weight: 900;
}

.welcome .image img{
    width: 500px;
    height: auto;
    border-radius: 25%;
    border: white 2px solid;
    box-shadow: 0 0 10px 5px black;
}

.welcome .text .sub {
    font-size: x-large;
}

.button button{
    font-size: large;
    padding: 1rem;
    border: white 2px solid;
    box-shadow: 0 0 10px 5px black;
    border-radius: 25%;
    font-weight:bolder;
    background-color: turquoise;
}

.information .header {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    font-size: 3rem;
    font-weight: 300;
}

.information .members {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.information .members .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: rgba(37, 37, 37, 0.5);
    color: burlywood;
}

.information .members .photo{
    padding: 1rem 0 2rem 0;
}

.information .members .photo img{
    height: 300px;
    width: auto;
    border: 2px white solid;
    box-shadow: 0 0 10px 5px black;
    border-radius: 25%;
}

.quote {
    color: black;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(96, 211, 231);
    padding: 2rem 5rem;
    margin: 2rem 4rem;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 0 0 10px 5px black;
}

.quote .text{
    font-size:xx-large;
    font-style: italic;
}


.quote .author {
    font-size: large;
    margin-left:auto;
}

.subscribe,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 3rem;
    border: 1px solid white;
    box-shadow: 0 0 10px 5px black;
}
.subscribe{
    margin-top: 2rem;
    background-color: rgba(96, 211, 231);
}

.subscribe .header {
    font-size: xx-large;
}

.subscribe .sub {
    font-size: large;
}

.footer {
    font:larger;
    background-color: rgb(96, 128, 231);
}
